<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CurrentDate</servlet-name>
        <servlet-class>CurrentDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Counter</servlet-name>
        <servlet-class>Counter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolisticCounter</servlet-name>
        <servlet-class>HolisticCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>INITCounter</servlet-name>
        <servlet-class>INITCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerDisplay</servlet-name>
        <servlet-class>ServerDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackageHeader</servlet-name>
        <servlet-class>PackageHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiceRoller</servlet-name>
        <servlet-class>DiceRoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParameterN</servlet-name>
        <servlet-class>ParameterN</servlet-class>
        <init-param>
            <param-name>Nishita</param-name>
            <param-value>130050131525</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PassParameter</servlet-name>
        <servlet-class>PassParameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultipleParameter</servlet-name>
        <servlet-class>MultipleParameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTime</servlet-name>
        <servlet-class>UpdateTime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrentDate</servlet-name>
        <url-pattern>/CurrentDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Counter</servlet-name>
        <url-pattern>/Counter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolisticCounter</servlet-name>
        <url-pattern>/HolisticCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>INITCounter</servlet-name>
        <url-pattern>/INITCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerDisplay</servlet-name>
        <url-pattern>/ServerDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackageHeader</servlet-name>
        <url-pattern>/PackageHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiceRoller</servlet-name>
        <url-pattern>/DiceRoller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParameterN</servlet-name>
        <url-pattern>/ParameterN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassParameter</servlet-name>
        <url-pattern>/PassParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultipleParameter</servlet-name>
        <url-pattern>/MultipleParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTime</servlet-name>
        <url-pattern>/UpdateTime</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
